/*
Ian Crofford
3.9 Creating and Referencing DOM Elements
7/12/2026
*/

body {
    font-family: Arial, sans-serif;
}

body.dark {
    background-color: black;
    color: white;
}

#featured div {
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
}

body.dark #featured div {
    border: 1px solid white;
}

img {
    margin: 5px;
}